{% load staticfiles %}
<script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="{% static "css/dist/taxis.min.css" %}">

{#<!-- Latest compiled and minified CSS -->#}
{#<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">#}
{##}
{#<!-- Optional theme -->#}
{#<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">#}
